<h1>{{ list.name }}</h1>

<button mat-raised-button color="primary" (click)="saveList()">Save</button>
<button mat-raised-button color="primary" (click)="deleteList()">Delete</button>

<div class="mixer">
  <div class="channel">
    <h2>Channel 1</h2>

    <div
      cdkDropList
      #listOne="cdkDropList"
      [cdkDropListData]="list.one"
      [cdkDropListConnectedTo]="[listTwo, listThree, listFour]"
      class="song-list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card class="empty-label" *ngIf="list.one.length === 0"
        >Empty</mat-card
      >
      <div class="song-container" *ngFor="let track of list.one" cdkDrag>
        <app-song-card
          [track]="track"
          color="#ffcccc"
          (deleteEvent)="deleteTrack(track.id, 'one')"
        ></app-song-card>
      </div>
    </div>
  </div>

  <div class="channel">
    <h2>Channel 2</h2>

    <div
      cdkDropList
      #listTwo="cdkDropList"
      [cdkDropListData]="list.two"
      [cdkDropListConnectedTo]="[listOne, listThree, listFour]"
      class="song-list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card class="empty-label" *ngIf="list.two.length === 0"
        >Empty</mat-card
      >
      <div class="song-container" *ngFor="let track of list.two" cdkDrag>
        <app-song-card
          [track]="track"
          color="#ccccff"
          (deleteEvent)="deleteTrack(track.id, 'two')"
        ></app-song-card>
      </div>
    </div>
  </div>

  <div class="channel">
    <h2>Channel 3</h2>

    <div
      cdkDropList
      #listThree="cdkDropList"
      [cdkDropListData]="list.three"
      [cdkDropListConnectedTo]="[listOne, listTwo, listFour]"
      class="song-list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card class="empty-label" *ngIf="list.three.length === 0"
        >Empty</mat-card
      >
      <div class="song-container" *ngFor="let track of list.three" cdkDrag>
        <app-song-card
          [track]="track"
          color="#ccffcc"
          (deleteEvent)="deleteTrack(track.id, 'three')"
        ></app-song-card>
      </div>
    </div>
  </div>

  <div class="channel">
    <h2>Channel 4</h2>

    <div
      cdkDropList
      #listFour="cdkDropList"
      [cdkDropListData]="list.four"
      [cdkDropListConnectedTo]="[listOne, listTwo, listThree]"
      class="song-list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card class="empty-label" *ngIf="list.four.length === 0"
        >Empty</mat-card
      >
      <div class="song-container" *ngFor="let track of list.four" cdkDrag>
        <app-song-card
          [track]="track"
          color="#ffff99"
          (deleteEvent)="deleteTrack(track.id, 'four')"
        ></app-song-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="addedTrack.length > 0; else searchBlock">
  <div
    cdkDropList
    #newTrack="cdkDropList"
    [cdkDropListData]="addedTrack"
    [cdkDropListConnectedTo]="[listOne, listTwo, listThree, listFour]"
    class="new-track"
  >
    <div class="song-container" *ngFor="let track of addedTrack" cdkDrag>
      <app-song-card
        [track]="track"
        (deleteEvent)="deleteTrack(track.id, 'addedTrack')"
      ></app-song-card>
    </div>
  </div>
</div>
<ng-template #searchBlock>
  <span>
    <app-song-search (trackSelectEvent)="addTrack($event)"></app-song-search>
  </span>
  <span>
    <button mat-button (click)="addBlank()">Add Blank Spacer</button>
  </span>
</ng-template>
