<div class="mixer">
  <div class="channel">
    <h2>Channel 1</h2>

    <div
      cdkDropList
      #listOne="cdkDropList"
      [cdkDropListData]="one"
      [cdkDropListConnectedTo]="[listTwo, listThree, listFour]"
      class="song-list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card class="empty-label" *ngIf="one.length === 0">Empty</mat-card>
      <div class="song-container" *ngFor="let track of one" cdkDrag>
        <app-song-card [track]="track" color="#ffcccc"></app-song-card>
      </div>
    </div>
  </div>

  <div class="channel">
    <h2>Channel 2</h2>

    <div
      cdkDropList
      #listTwo="cdkDropList"
      [cdkDropListData]="two"
      [cdkDropListConnectedTo]="[listOne, listThree, listFour]"
      class="song-list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card class="empty-label" *ngIf="two.length === 0">Empty</mat-card>
      <div class="song-container" *ngFor="let track of two" cdkDrag>
        <app-song-card [track]="track" color="#ccccff"></app-song-card>
      </div>
    </div>
  </div>

  <div class="channel">
    <h2>Channel 3</h2>

    <div
      cdkDropList
      #listThree="cdkDropList"
      [cdkDropListData]="three"
      [cdkDropListConnectedTo]="[listOne, listTwo, listFour]"
      class="song-list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card class="empty-label" *ngIf="three.length === 0">Empty</mat-card>
      <div class="song-container" *ngFor="let track of three" cdkDrag>
        <app-song-card [track]="track" color="#ccffcc"></app-song-card>
      </div>
    </div>
  </div>

  <div class="channel">
    <h2>Channel 4</h2>

    <div
      cdkDropList
      #listFour="cdkDropList"
      [cdkDropListData]="four"
      [cdkDropListConnectedTo]="[listOne, listTwo, listThree]"
      class="song-list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card class="empty-label" *ngIf="four.length === 0">Empty</mat-card>
      <div class="song-container" *ngFor="let track of four" cdkDrag>
        <app-song-card [track]="track" color="#ffff99"></app-song-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="addedTrack.length > 0; else searchBlock">
  <div
    cdkDropList
    #newTrack="cdkDropList"
    [cdkDropListData]="addedTrack"
    [cdkDropListConnectedTo]="[listOne, listTwo, listThree, listFour]"
    class="new-track"
  >
    <div class="song-container" *ngFor="let track of addedTrack" cdkDrag>
      <app-song-card [track]="track"></app-song-card>
    </div>
  </div>
</div>
<ng-template #searchBlock>
  <app-song-search (trackSelectEvent)="addTrack($event)"></app-song-search>
  <button mat-button (click)="addBlank()">New Blank</button>
</ng-template>
