<div *ngIf="track.id === -1; else songBlock">
  <mat-card class="blank-card" [ngStyle]="{ 'background-color': color }">
    <h2>Blank</h2>
    <button mat-icon-button class="delete" (click)="onDelete()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card>
</div>

<ng-template #songBlock>
  <mat-card class="song-card" [ngStyle]="{ 'background-color': color }">
    <h3>{{ track.name }}</h3>
    <h5>{{ artists[0].name }}</h5>
    <button mat-icon-button class="delete" (click)="onDelete()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card>
</ng-template>
