<h1>Spotify Web Playback SDK Quick Start</h1>
<button id="togglePlay">Toggle Play</button>

<script src="https://sdk.scdn.co/spotify-player.js"></script>

<script>
  window.onSpotifyWebPlaybackSDKReady = () => {
    const token =
      "BQD35U4WdljLDW_pJfOs4XwJYwj-ouPz59RQOycbTLnLZ8fxKMg0QGNIHVxYN3pnGWECBGwfnGZh1QYHIIJ-xKS1qv3jjInjPIN5q2rsB8L8w_yzn6-bNm-NH15a_ta4oW9tkJWDoCRwVXinnjW_dk6nO2E2mLWA5cGgWGLuvdeCaMbEGaHO_gOpWEAbNWU_-AGw";
    const player = new Spotify.Player({
      name: "Web Playback SDK Quick Start Player",
      getOAuthToken: (cb) => {
        cb(token);
      },
      volume: 0.5,
    });

    // Ready
    player.addListener("ready", ({ device_id }) => {
      console.log("Ready with Device ID", device_id);
    });

    // Not Ready
    player.addListener("not_ready", ({ device_id }) => {
      console.log("Device ID has gone offline", device_id);
    });

    player.addListener("initialization_error", ({ message }) => {
      console.error(message);
    });

    player.addListener("authentication_error", ({ message }) => {
      console.error(message);
    });

    player.addListener("account_error", ({ message }) => {
      console.error(message);
    });

    document.getElementById("togglePlay").onclick = function () {
      player.togglePlay();
    };

    player.connect();
  };
</script>
