<div class="mixer">
  <div class="channel-container">
    <h2>Channel 1</h2>

    <div
      cdkDropList
      #channelOneList="cdkDropList"
      [cdkDropListData]="channelOne"
      [cdkDropListConnectedTo]="[
        channelTwoList,
        channelThreeList,
        channelFourList
      ]"
      class="channel one"
      (cdkDropListDropped)="drop($event)"
    >
      <p class="empty-channel" *ngIf="channelOne.length === 0">Empty Channel</p>
      <div class="song" *ngFor="let song of channelOne" cdkDrag>
        {{ song.name }}
      </div>
    </div>
  </div>

  <div class="channel-container">
    <h2>Channel 2</h2>

    <div
      cdkDropList
      #channelTwoList="cdkDropList"
      [cdkDropListData]="channelTwo"
      [cdkDropListConnectedTo]="[
        channelOneList,
        channelThreeList,
        channelFourList
      ]"
      class="channel two"
      (cdkDropListDropped)="drop($event)"
    >
      <p class="empty-channel" *ngIf="channelTwo.length === 0">Empty Channel</p>
      <div class="song" *ngFor="let song of channelTwo" cdkDrag>
        {{ song.name }}
      </div>
    </div>
  </div>

  <div class="channel-container">
    <h2>Channel 3</h2>

    <div
      cdkDropList
      #channelThreeList="cdkDropList"
      [cdkDropListData]="channelThree"
      [cdkDropListConnectedTo]="[
        channelOneList,
        channelTwoList,
        channelFourList
      ]"
      class="channel three"
      (cdkDropListDropped)="drop($event)"
    >
      <p class="empty-channel" *ngIf="channelThree.length === 0">
        Empty Channel
      </p>
      <div class="song" *ngFor="let song of channelThree" cdkDrag>
        {{ song.name }}
      </div>
    </div>
  </div>

  <div class="channel-container">
    <h2>Channel 4</h2>

    <div
      cdkDropList
      #channelFourList="cdkDropList"
      [cdkDropListData]="channelFour"
      [cdkDropListConnectedTo]="[
        channelOneList,
        channelTwoList,
        channelThreeList
      ]"
      class="channel four"
      (cdkDropListDropped)="drop($event)"
    >
      <p class="empty-channel" *ngIf="channelFour.length === 0">
        Empty Channel
      </p>
      <div class="song" *ngFor="let song of channelFour" cdkDrag>
        {{ song.name }}
      </div>
    </div>
  </div>
</div>

<div class="add-container">
  <button mat-raised-button class="add song">Add Song</button>
  <button mat-raised-button class="add blank">Add Blank</button>
</div>
