<div class="channel-container">
  <h2>Channel 1</h2>

  <div
    cdkDropList
    #channel1List="cdkDropList"
    [cdkDropListData]="channel1"
    [cdkDropListConnectedTo]="[channel2List, channel3List, channel4List]"
    class="channel-list one"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="song-box" *ngFor="let song of channel1" cdkDrag>{{ song }}</div>
  </div>
</div>

<div class="channel-container">
  <h2>Channel 2</h2>

  <div
    cdkDropList
    #channel2List="cdkDropList"
    [cdkDropListData]="channel2"
    [cdkDropListConnectedTo]="[channel1List, channel3List, channel4List]"
    class="channel-list two"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="song-box" *ngFor="let song of channel2" cdkDrag>{{ song }}</div>
  </div>
</div>

<div class="channel-container">
  <h2>Channel 3</h2>

  <div
    cdkDropList
    #channel3List="cdkDropList"
    [cdkDropListData]="channel3"
    [cdkDropListConnectedTo]="[channel1List, channel2List, channel4List]"
    class="channel-list three"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="song-box" *ngFor="let song of channel3" cdkDrag>{{ song }}</div>
  </div>
</div>

<div class="channel-container">
  <h2>Channel 4</h2>

  <div
    cdkDropList
    #channel4List="cdkDropList"
    [cdkDropListData]="channel4"
    [cdkDropListConnectedTo]="[channel1List, channel2List, channel3List]"
    class="channel-list four"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="song-box" *ngFor="let song of channel4" cdkDrag>{{ song }}</div>
  </div>
</div>
